* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

* li {
  list-style: none;
}
* li:hover {
  cursor: pointer;
}

* a {
  list-style: none;
  text-decoration: none;
}
* a:hover {
  cursor: pointer;
}

* button:hover {
  cursor: pointer;
}

* img:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  background: white;
  position: absolute;
  width: 160px;
  padding: 12px;
  list-style: none;
  left: 0;
  top: 40px;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
}

* i:hover {
  cursor: pointer;
}

body {
  background-color: #f8f8f8;
}

nav {
  width: 100%;
  z-index: 1;
  position: fixed;
  padding: 32px 0;
  transition: all 0.5s ease;
}
nav .container .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .container .nav #click {
  color: white;
  font-size: 25px;
  font-weight: 900;
  display: none;
}
nav .container .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  gap: 10px;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 776px) {
  nav .container {
    width: 90%;
  }
  nav .container .nav #click {
    display: block;
  }
  nav .container .nav ul {
    display: none;
  }
}
.section1 {
  background-image: url(../photo/banner-bg.jpg.webp);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section1 .container .section11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1 .container .section11 .left1 {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 30px;
  flex-direction: column;
}
.section1 .container .section11 .left1 h4 {
  font-size: 60px;
  color: #fff;
  font-weight: 300;
}
.section1 .container .section11 .left1 p {
  color: white;
}
.section1 .container .section11 .left1 button {
  color: #222;
  padding: 13px 25px;
  transition: all 0.5s ease;
}
.section1 .container .section11 .left1 button:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}
.section1 .container .section11 .right1 {
  width: 45%;
  min-width: 320px;
  min-height: 320px;
}
.section1 .container .section11 .right1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 991px) {
  .section1 {
    width: 100%;
    height: 100%;
  }
  .section1 .container {
    width: 90%;
  }
  .section1 .container .section11 {
    flex-direction: column;
  }
  .section1 .container .section11 .left1 {
    width: 100%;
  }
  .section1 .container .section11 .left1 h1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  .section1 {
    width: 100%;
    height: 100%;
  }
  .section1 .container {
    width: 90%;
  }
  .section1 .container .section11 {
    flex-direction: column;
  }
  .section1 .container .section11 .left1 {
    width: 100%;
  }
  .section1 .container .section11 .left1 h4 {
    font-size: 30px;
  }
  .section1 .container .section11 .right1 {
    width: 60%;
  }
}
.section2 {
  width: 100%;
  padding: 60px 0;
  background-color: #f8f8f8;
}
.section2 .container .section21 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section2 .container .section21 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.section2 .container .section21 .top h1 {
  font-size: 35px;
  font-weight: 500;
}
.section2 .container .section21 .top p {
  color: gray;
}
.section2 .container .section21 .bottom1 {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.section2 .container .section21 .bottom1 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px white solid;
  border-radius: 10px;
  background-color: white;
  gap: 20px;
}
.section2 .container .section21 .bottom1 .card .img {
  width: 45%;
  height: 100%;
  padding: 20px;
}
.section2 .container .section21 .bottom1 .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 .container .section21 .bottom1 .card .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  background-color: #f1f1f1;
}
.section2 .container .section21 .bottom1 .card .text h5 {
  font-size: 20px;
}
.section2 .container .section21 .bottom1 .card .text p {
  color: gray;
}
.section2 .container .section21 .bottom1 .card .text button {
  color: #222;
  padding: 13px 25px;
  border-color: white;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.5s ease;
}
.section2 .container .section21 .bottom1 .card .text button:hover {
  color: white;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}

@media screen and (max-width: 991px) {
  .section2 {
    width: 100%;
    padding: 60px 0;
    background-color: #f8f8f8;
  }
  .section2 .container .section21 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .section2 .container .section21 .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section2 .container .section21 .top h1 {
    font-size: 35px;
    font-weight: 500;
  }
  .section2 .container .section21 .top p {
    color: gray;
  }
  .section2 .container .section21 .bottom1 {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .section2 .container .section21 .bottom1 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    background-color: white;
    gap: 20px;
  }
  .section2 .container .section21 .bottom1 .card .img {
    width: 30%;
    height: 100%;
    min-width: 100px;
    max-width: 200px;
    padding: 20px;
  }
  .section2 .container .section21 .bottom1 .card .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 .container .section21 .bottom1 .card .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }
  .section2 .container .section21 .bottom1 .card .text h5 {
    font-size: 20px;
  }
  .section2 .container .section21 .bottom1 .card .text p {
    color: gray;
  }
  .section2 .container .section21 .bottom1 .card .text button {
    color: #222;
    padding: 13px 25px;
    border-color: white;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease;
  }
  .section2 .container .section21 .bottom1 .card .text button:hover {
    color: white;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  }
}
@media screen and (max-width: 776px) {
  .section2 {
    width: 100%;
    padding: 60px 0;
    background-color: #f8f8f8;
  }
  .section2 .container .section21 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .section2 .container .section21 .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section2 .container .section21 .top h1 {
    font-size: 35px;
    font-weight: 500;
  }
  .section2 .container .section21 .top p {
    color: gray;
  }
  .section2 .container .section21 .bottom1 {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .section2 .container .section21 .bottom1 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    background-color: white;
    gap: 20px;
  }
  .section2 .container .section21 .bottom1 .card .img {
    width: 20%;
    height: 100%;
    padding: 20px;
  }
  .section2 .container .section21 .bottom1 .card .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 .container .section21 .bottom1 .card .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }
  .section2 .container .section21 .bottom1 .card .text h5 {
    font-size: 20px;
  }
  .section2 .container .section21 .bottom1 .card .text p {
    color: gray;
  }
  .section2 .container .section21 .bottom1 .card .text button {
    color: #222;
    padding: 13px 25px;
    border-color: white;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease;
  }
  .section2 .container .section21 .bottom1 .card .text button:hover {
    color: white;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  }
}
.section3 {
  width: 100%;
  padding: 60px 0;
  background-color: #f8f8f8;
}
.section3 .container .section31 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.section3 .container .section31 .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 .container .section31 .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section3 .container .section31 .right {
  width: 40%;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
}
.section3 .container .section31 .right h2 {
  font-size: 40px;
}
.section3 .container .section31 .right h6 {
  font-size: 15px;
  color: darkgray;
  font-weight: 100;
}
.section3 .container .section31 .right p {
  color: gray;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
}
.section3 .container .section31 .right button {
  color: #f8f8f8;
  padding: 13px 25px;
  border: none;
  font-weight: 600;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
.section3 .container .section31 .right button:hover {
  background: white;
  color: #222;
}

@media screen and (max-width: 991px) {
  .section3 .container .section31 {
    align-items: flex-start;
    flex-direction: column;
  }
  .section3 .container .section31 .left {
    width: 100%;
  }
  .section3 .container .section31 .right {
    width: 100%;
  }
}
.section4 {
  width: 100%;
  padding: 60px 0;
  background-color: #f8f8f8;
}
.section4 .container .section41 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.section4 .container .section41 .right {
  width: 54%;
  height: 330px;
  background-image: url(../photo/scifi-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section4 .container .section41 .right .after {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .container .section41 .right .after i {
  font-size: 60px;
  color: white;
  cursor: pointer;
}
.section4 .container .section41 .left {
  width: 40%;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
}
.section4 .container .section41 .left a {
  color: navy;
  font-size: 15px;
}
.section4 .container .section41 .left h2 {
  font-size: 40px;
}
.section4 .container .section41 .left h6 {
  font-size: 15px;
  color: darkgray;
  font-weight: 100;
}
.section4 .container .section41 .left p {
  color: gray;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
}
.section4 .container .section41 .left button {
  color: #f8f8f8;
  padding: 13px 25px;
  border: none;
  font-weight: 600;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
.section4 .container .section41 .left button:hover {
  background: white;
  color: #222;
}

@media screen and (max-width: 991px) {
  .section4 .container .section41 {
    align-items: flex-start;
    flex-direction: column;
  }
  .section4 .container .section41 .left {
    width: 100%;
  }
  .section4 .container .section41 .right {
    width: 100%;
  }
}
.section5 {
  background-image: url(../photo/feature-bg.jpg.webp);
  width: 100%;
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section5 .container .section51 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.section5 .container .section51 .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
.section5 .container .section51 .top h1 {
  color: white;
  font-size: 35px;
}
.section5 .container .section51 .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section5 .container .section51 .bottom .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.section5 .container .section51 .bottom .card:hover .top1 {
  color: rgb(58, 58, 214);
}
.section5 .container .section51 .bottom .card .top1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease;
}
.section5 .container .section51 .bottom .card .bot p {
  color: gray;
}

@media screen and (max-width: 991px) {
  .section5 .container .section51 .top {
    text-align: center;
  }
  .section5 .container .section51 .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 776px) {
  .section5 .container .section51 {
    padding: 0 40px;
  }
  .section5 .container .section51 .top {
    text-align: center;
  }
  .section5 .container .section51 .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section6 {
  width: 100%;
  padding: 50px 0;
}
.section6 .container .section61 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6 .container .img {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6 .container .img img {
  width: 13%;
  filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease;
}
.section6 .container .img img:hover {
  filter: none;
  cursor: pointer;
}

.section7 {
  width: 100%;
  padding: 100px 0;
}
.section7 .container .section71 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.section7 .container .section71 .right, .section7 .container .section71 .left {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.section7 .container .section71 .right .button, .section7 .container .section71 .left .button {
  display: flex;
  gap: 10px;
}
.section7 .container .section71 .right .button button, .section7 .container .section71 .left .button button {
  color: #f8f8f8;
  padding: 13px 25px;
  border: none;
  font-weight: 600;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
.section7 .container .section71 .right .button button:hover, .section7 .container .section71 .left .button button:hover {
  background: white;
  color: #222;
}
.section7 .container .section71 .right .img, .section7 .container .section71 .left .img {
  width: 100%;
}
.section7 .container .section71 .right .img img, .section7 .container .section71 .left .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.section7 .container .section71 .right .text, .section7 .container .section71 .left .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.section7 .container .section71 .right .text h1, .section7 .container .section71 .left .text h1 {
  font-size: 20px;
}
.section7 .container .section71 .right .text h1:hover, .section7 .container .section71 .left .text h1:hover {
  cursor: pointer;
}
.section7 .container .section71 .right .text p, .section7 .container .section71 .left .text p {
  color: gray;
  line-height: 22px;
  font-size: 15px;
  font-weight: 100;
}
.section7 .container .section71 .right .text span, .section7 .container .section71 .left .text span {
  color: rgb(28, 26, 26);
}

@media screen and (max-width: 776px) {
  .section7 .container .section71 {
    align-items: flex-start;
    flex-direction: column;
  }
  .section7 .container .section71 .left {
    width: 100%;
  }
  .section7 .container .section71 .right {
    width: 100%;
  }
}
footer {
  background-image: url(../photo/footer-bg.jpg.webp);
  width: 100%;
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
footer .container .footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
footer .container .footer .bottom a {
  font-size: 15px;
  color: white;
  width: 50%;
}
footer .container .footer .bottom span, footer .container .footer .bottom i {
  color: #828fff;
}
footer .container .footer .bottom .menu-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  width: 45%;
  gap: 20px;
}
footer .container .footer .bottom .menu-icon i {
  background-color: #222;
  padding: 10px;
  color: white;
}
footer .container .footer .bottom .menu-icon i:hover {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
footer .container .footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  flex-wrap: wrap;
}
footer .container .footer .top .child1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: 100;
}
footer .container .footer .top .child1 h3 {
  font-size: 20px;
}
footer .container .footer .top .child1 ul {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
footer .container .footer .top .child2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: 100;
}
footer .container .footer .top .child2 h2 {
  font-size: 20px;
}
footer .container .footer .top .child2 .input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
footer .container .footer .top .child2 .input input {
  border-radius: 25px;
  padding: 15px 90px 15px 15px;
  outline: none;
  transition: all 1s ease;
  border: none;
  background-color: #f8f8f8;
}
footer .container .footer .top .child2 .input input:focus {
  border: 2px solid;
}
footer .container .footer .top .child2 .input button {
  color: #f8f8f8;
  padding: 13px 25px;
  border: none;
  font-weight: 600;
  border-radius: 25px;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
footer .container .footer .top .child2 .input button:hover {
  background: white;
  color: #222;
}
footer .container .footer .top .child3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .container .footer .top .child3 .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 991px) {
  footer .container .footer .bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.modal-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1000;
  display: none;
  transition: width 2s ease;
}
.modal-bg .modal-menu {
  width: 30%;
  height: 100vh;
  background-color: black;
  position: fixed;
  padding: 50px 30px;
  left: 0;
  top: 0;
  z-index: 1001;
}
.modal-bg .modal-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  gap: 20px;
}
.modal-bg .modal-menu .menu .ul-a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.modal-bg .modal-menu .menu .drop {
  position: relative;
}
.modal-bg .modal-menu .menu .drop .drop-menu {
  background-color: white;
  position: absolute;
  width: 160px;
  padding: 14px;
  left: 0;
  top: 40px;
  transition: 0.5s ease;
  display: none;
}
.modal-bg .modal-menu .menu .drop .drop-menu a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 15px;
}
.modal-bg .modal-menu .menu .drop:hover .drop-menu {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-bg p {
  position: absolute;
  right: 25px;
  top: 25px;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */