.section2{
    width: 100%;
    padding: 60px 0;
    background-color: #f8f8f8;
    .container{
        .section21{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
          
            .top{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 10px;
                h1{
                    font-size: 35px;
                    font-weight: 500;
                }
                p{
                    color: gray;
                }
            }
            .bottom1{
                display: grid;
                width: 100%;
                gap: 20px;
                grid-template-columns: repeat(4,1fr);
                .card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: 1px white solid;
                    border-radius: 10px;
                    background-color: white;
                    
                    gap: 20px;
                    .img{
                        width: 45%;
                        height:100%;
                        padding: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                    .text{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        gap: 20px;
                        padding: 20px;
                        background-color: #f1f1f1;
                 
                 h5{
                    font-size: 20px;
                 }
                 p{
                    color: gray;
                 }
                 button{
                    color:#222;
                    padding: 13px 25px;
                    border-color: white;
                   background-color: white;
                   border-radius: 5px;
                   font-weight: 600;
transition: all 0.5s ease;
                    &:hover{
                        color: white;
                        background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                    }
                 }
                    }
                }
            }
        }
    }
}
@media screen  and (max-width:991px){

    .section2{
        width: 100%;
        padding: 60px 0;
        background-color: #f8f8f8;
        .container{
            .section21{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .top{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    h1{
                        font-size: 35px;
                        font-weight: 500;
                    }
                    p{
                        color: gray;
                    }
                }
                .bottom1{
                    display: grid;
                    width: 100%;
                    gap: 20px;
                    grid-template-columns: repeat(2,1fr);
                    .card{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border: 1px white solid;
                        border-radius: 10px;
                        background-color: white;
                        
                        gap: 20px;
                        .img{
                            width: 30%;
                            height:100%;
                            min-width: 100px;
                            max-width: 200px;
                            padding: 20px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
    
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 20px;
                            padding: 20px;
                            background-color: #f1f1f1;
                     
                     h5{
                        font-size: 20px;
                     }
                     p{
                        color: gray;
                     }
                     button{
                        color:#222;
                        padding: 13px 25px;
                        border-color: white;
                       background-color: white;
                       border-radius: 5px;
                       font-weight: 600;
    transition: all 0.5s ease;
                        &:hover{
                            color: white;
                            background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                        }
                     }
                        }
                    }
                }
            }
        }
    }


}

@media screen  and (max-width:776px){

    .section2{
        width: 100%;
        padding: 60px 0;
        background-color: #f8f8f8;
        .container{
            .section21{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .top{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    h1{
                        font-size: 35px;
                        font-weight: 500;
                    }
                    p{
                        color: gray;
                    }
                }
                .bottom1{
                    display: grid;
                    width: 100%;
                    gap: 20px;
                    grid-template-columns: repeat(1,1fr);
                    .card{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border: 1px white solid;
                        border-radius: 10px;
                        background-color: white;
                        
                        gap: 20px;
                        .img{
                            width: 20%;
                            height:100%;
                            padding: 20px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
    
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 20px;
                            padding: 20px;
                            background-color: #f1f1f1;
                     
                     h5{
                        font-size: 20px;
                     }
                     p{
                        color: gray;
                     }
                     button{
                        color:#222;
                        padding: 13px 25px;
                        border-color: white;
                       background-color: white;
                       border-radius: 5px;
                       font-weight: 600;
    transition: all 0.5s ease;
                        &:hover{
                            color: white;
                            background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                        }
                     }
                        }
                    }
                }
            }
        }
    }
    
    }
    
    
    
