.section5{
    background-image: url(feature-bg.jpg.webp);
    width: 100%;
    padding: 120px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container{
        .section51{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 70px;
            .top{
                display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: white;
            h1{
                color: white;
                font-size: 35px;
            }
            }
            .bottom{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 20px;
                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 30px;
                    &:hover .top1{
                        color: rgb(58, 58, 214);
                    }
                    .top1{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 25px;
                        font-weight: 900;
transition:  all 0.5s ease;
                    }
                    .bot{
                        p{
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}
@media screen  and (max-width:991px){
.section5{
    .container{
        .section51{
            .top{
                text-align: center;
            }
            .bottom{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

}
@media screen  and (max-width:776px){
    .section5{
        .container{
            .section51{
                padding: 0 40px;
                .top{
                    text-align: center;
                }
                .bottom{
                    grid-template-columns: repeat(1,1fr);
                }
            }
        }
    }
    
    }