.section6 {
    width: 100%;
    padding: 50px 0;
    .container {
        .section61 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 13%;
                filter: grayscale(100%);
                object-fit: cover;
                transition: all 0.4s ease;
                &:hover {
                    filter: none;
                    cursor: pointer;
                   
                }
            }
        }

    }
}
