*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins,sans-serif;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
*li{
    list-style: none;
    &:hover{
        cursor: pointer;
    }
}
*a{
    list-style: none;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
.dropdown {
    position: relative;
    .dropdown-menu {
        background: white;
        position: absolute;
        width: 160px;
        padding: 12px ;
        list-style: none;
        left: 0;
        top: 40px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 12;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
    }

    &:hover .dropdown-menu {
        opacity: 1;
    }

}
*i{
    &:hover{
        cursor: pointer;
    }
}
body{
    background-color: #f8f8f8
}
@import 'nav';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';